packs/
backup/
builds/
temp/
build/
dist/
ffmpeg/
data.json
app_random.py
app_pics.py
program.spec
sigen.py
sigen.ui
setup.py
README.md
app_random.py
generator.py
program.py
app_leftright.py
# 
__pycache__/